html,
body,
main {
    height: 100%;
}

#app {
    width: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

#playspeed-indicator,
#transformation-text,
#video-info-container > span {
    color: white;
    font-family: "Inter", "Segoe UI", sans-serif;
}

#playspeed-indicator {
    position: fixed;
    top: 30px;
}

#transformation-alert {
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0px;
    visibility: hidden;
}

#transformation-icon {
    width: 20px;
}

#top-bar {
    background-color: #252526;
    min-height: 30px;
    display: flex;
}

#drag-bar {
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", "Segoe UI", sans-serif;
}

#main-video {
    background: black;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#video-controls {
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(transparent, black);
    width: 100%;
    justify-content: center;
    align-items: center;
}

video {
    max-height: 100%;
    width: 100%;
}

#video-controls > button,
#top-bar > button {
    width: 75px;
    height: 75px;
    background-color: transparent;
    outline: none;
    padding: 20px;
    border: none;
}

#top-bar > button {
    width: 30px;
    height: 30px;
    padding: 5px;
}

#maximise-button {
    position: absolute;
    right: 2.5%;
}

#loop-button {
    position: absolute;
    left: 2.5%;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#progress-bar-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    bottom: 140px;
    position: relative;
    margin: 0 auto;
}

#progress-bar {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 5px;
}

#progress-bar-circle {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background-color: red;
    position: relative;
    top: -8px;
    pointer-events: none;
}

#progress-color {
    width: 0%;
    background-color: red;
    height: 3px;
    outline: 2px solid red;
}

#video-info-container {
    margin-top: 5px;
}

#video-current-time {
    float: left;
}

#video-duration {
    float: right;
}

path {
    fill: white;
}

#youtube-button path {
    fill: red;
}

#video-controls > button:focus {
    outline: 3px solid white;
}
