html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#main-div {
    border-radius: 5px;
    background-color: #252526;
    width: 100%;
    padding: 40px 50px;
}

h1,
h2,
h3,
p,
span {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: white;
}

input {
    border-radius: 50px;
    padding: 20px;
    width: 400px;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

#loading-text {
    visibility: hidden;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#time-notice {
    visibility: hidden;
    position: absolute;
    left: 10px;
    bottom: 10px;
}